/* @link https://utopia.fyi/grid/calculator?c=420,16,1.2,1480,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=xs,l,2xl,12 */

:root {
  --grid-max-width: 92.50rem;
  --grid-max-width: 82.50rem;
  /* above needs tweaks */
  --grid-gutter: var(--space-xs-l, clamp(0.75rem, 0.0566rem + 2.6415vw, 2.5rem));
  --grid-columns: 12;
}

.layout {
  display: grid;
  grid-template-columns: [full-width-start] minmax(var(--space-m), 1fr) [content-start] minmax(
      min-content,
      var(--grid-max-width)
    ) [content-end] minmax(var(--space-m), 1fr) [full-width-end];
}

.grid {
  grid-column: content;
  max-width: var(--grid-max-width);
  /* padding-inline: var(--grid-gutter); */
  /**/
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  column-gap: var(--grid-gutter);
}
