@media (min-width: 576px) {
  .sm\:col-3 {
    grid-column: span 3;
  }
  
  .sm\:col-9 {
    grid-column: span 9;
  }
}

@media (min-width: 768px) {
  .md\:content-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    column-gap: var(--grid-gutter);
  }

  .md\:col-4 {
    grid-column: span 4;
  }

  .md\:col-8 {
    grid-column: span 8;
  }
}

@media (min-width: 992px) {
  .lg\:col-3 {
    grid-column: span 3;
  }

  .lg\:col-6 {
    grid-column: span 6;
  }

  .lg\:col-12 {
    grid-column: span 12;
  }
}

@media (min-width: 1200px) {
  .xl\:col-8 {
    grid-column: span 8;
  }

  .xl\:col-start-10 {
    grid-column-start: 10;
  }

  .xl\:col-end-13 {
    grid-column-end: 13;
  }
}