:where(.button) {
  --bg-color: var(--current-bg-color);
  --text-color: var(--current-text-color);
  --border-radius: var(--border-radius-m);
  --transition-duration: var(--standard-decelerate-duration);
  --transition-easing: var(--standard-decelerate-easing);
  --transition-properties: color, background-color, box-shadow;

  user-select: none;
  border: none;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition-property: var(--transition-properties);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-easing);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2xs);
  padding: 0 var(--space-2xs);
}

:where(.button) :where(.btn-icon, .btn-text) {
  color: var(--text-color);
  line-height: var(--line-height-relax);
}

@media (hover: hover) {
  :where(.button:hover) {
    --transition-duration: var(--standard-accelerate-duration);
    --transition-easing: var(--standard-accelerate-easing);
  }
}

:where(.button:disabled) {
  --bg-color: var(--md-sys-color-on-surface);
  --text-color: var(--md-sys-color-on-surface);
  cursor: not-allowed;
}

:where(.button-group) {
  display: flex;
  gap: 1px;
  border-radius: var(--border-radius-m);
  background-color: var(--current-parent-bg-color);
  width: 100%;
}

:where(.button-group .button) {
  --border-color: transparent;

  flex-grow: 1;
}

:where(.button-group .button:not(:first-child, :last-child)) {
  border-radius: 0;
}

:where(.button-group .button:is(:first-child)) {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

:where(.button-group .button:is(:last-child)) {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

:where(.button-group .button:is(.active)) {
  --border-color: var(--bg-color);
}

@media (hover: hover) {
  :where(.button-group .button:hover) {
    --border-color: var(--bg-color);
  }
}

