:where(.button) {
  --bg-color: var(--current-bg-color);
  --text-color: var(--current-text-color);
  --border-radius: var(--border-radius-m);
  --transition-duration: var(--standard-decelerate-duration);
  --transition-easing: var(--standard-decelerate-easing);
  --transition-properties: color, background-color, box-shadow;

  user-select: none;
  border: none;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition-property: var(--transition-properties);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-easing);
}

:where(.button) :where(.icon, .text) {
  color: var(--text-color);
  line-height: var(--line-height-relax);
}

@media (hover: hover) {
  :where(.button:hover) {
    --transition-duration: var(--standard-accelerate-duration);
    --transition-easing: var(--standard-accelerate-easing);
  }
}

:where(.button:disabled) {
  --bg-color: var(--md-sys-color-on-surface);
  --text-color: var(--md-sys-color-on-surface);
  cursor: not-allowed;
}

:where(.button-group) {
  display: flex;
  gap: 1px;
  border-radius: var(--border-radius-m);
  background-color: var(--current-border-color);
  box-shadow: 0 0 0 1px var(--current-border-color)
}

:where(.button-group .button:not(:first-child, :last-child)) {
  border-radius: 0;
}

:where(.button-group .button:is(:first-child)) {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

:where(.button-group .button:is(:last-child)) {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

/* .button {
  --radius: var(--border-radius-full);

  all: unset;
  position: relative;
  border-radius: var(--radius);
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:not(.with-icon) {
  padding: var(--space-y) var(--space-x);
}

.button.with-icon {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  padding: var(--space-y) var(--space-x) var(--space-y) var(--space-x);
}

.button::before,
.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--radius);
  transition-property: opacity;
  transition-duration: var(--standard-decelerate-duration);
  transition-timing-function: var(--standard-decelerate-easing);
}

.button:before {
  opacity: var(--bg-opacity);
  background-color: var(--bg-color);
  z-index: 1;
}

.button:after {
  opacity: var(--state-opacity);
  background-color: var(--state-color);
  z-index: 2;
}

.button:disabled {
  --bg-color: var(--md-sys-color-on-surface);
  --bg-opacity: 0.12;

  --text-color: var(--md-sys-color-on-surface);
  --text-opacity: 0.38;
}

@media (hover:hover) {
  .button:not(:disabled):hover:before,
  .button:not(:disabled):hover:after {
    transition-duration: var(--standard-accelerate-duration);
    transition-timing-function: var(--standard-accelerate-easing);
  }

  .button:not(:disabled, .as-menu):hover,
  .button:not(.as-menu).active {
    --state-opacity: 0.2 !important;
  }

  .button.as-menu:hover,
  .button.as-menu.active {
    --state-opacity: 1 !important;
  }
}

.button:not(:disabled):active,
.button:not(:disabled):focus-visible {
  --state-opacity: 0.3 !important;
}

.button:not(:disabled):focus-visible {
  --offset-width: 2px;

  outline: var(--offset-width) solid transparent;
  outline-offset: var(--offset-width);
  border-radius: var(--radius);
  box-shadow: 0 0 0 var(--offset-width) var(--background-color), 0 0 0 calc(var(--offset-width) + var(--offset-width)) var(--md-sys-color-primary);
}

.button .txt,
.button .icon {
  opacity: var(--text-opacity);
  color: var(--text-color);
  fill: var(--text-color);
  position: relative;
  z-index: 3;
}

.button .txt {
  font-size: var(--label-size);
  font-weight: var(--label-weight);
  line-height: 1;
}

.button.as-filled,
.button.as-tonal,
.button.as-text {
  --space-y: var(--space-2xs);
}

.button.as-filled,
.button.as-tonal {
  --space-x: var(--space-s);
}

.button.as-text {
  --space-x: var(--space-s);
}

.button.as-icon {
  --space-x: var(--space-xs);
  --space-y: var(--space-xs);
}

.button.as-menu {
  --space-x: var(--space-2xs);
  --space-y: var(--space-2xs);
}

.button.as-text-compact {
  --space-y: var(--space-3xs);
}

.button:not(:disabled).as-filled,
.button:not(:disabled).as-tonal,
.button:not(:disabled).as-text,
.button:not(:disabled).as-icon,
.button:not(:disabled).as-menu {
  --bg-opacity: 1;
  --state-opacity: 0;
  --text-opacity: 1;
}

.button:not(:disabled).as-filled {
  --bg-color: var(--md-sys-color-primary);
  --state-color: var(--md-sys-color-on-primary);

  --text-color: var(--md-sys-color-on-primary);
  --icon-color: var(--md-sys-color-on-primary);
}

.button:not(:disabled).as-tonal {
  --bg-color: var(--md-sys-color-secondary-container);
  --state-color: var(--md-sys-color-primary);

  --text-color: var(--md-sys-color-on-secondary-container);
  --icon-color: var(--md-sys-color-on-secondary-container);
}

.button:not(:disabled).as-icon,
.button:not(:disabled).as-text {
  --bg-color: transparent;
  --state-color: var(--md-sys-color-primary);

  --text-color: var(--md-sys-color-primary);
  --icon-color: var(--md-sys-color-primary);
}

.button:not(:disabled).as-menu {
  --radius: var(--border-radius-s);

  --bg-color: transparent;
  --state-color: var(--hover-bg-color);

  --text-color: var(--color);
}
@media (hover:hover) {
  .button.as-menu:hover,
  .button.as-menu.active {
    --text-color: var(--hover-color);
  }
} */