:where(.gradient) {
  --to-color-hue: calc(var(--color-hue) + 180);

  --_vertical-from-color: var(--color-10);
  --_vertical-to-color: var(--to-color-7);
  --_slant-from-color: var(--color-12);
  --_slant-to-color: var(--to-color-7);
}

[color-scheme="light"] {
  :where(.gradient) {
    --to-color-hue: calc(var(--color-hue) + 180);

    --_vertical-from-color: var(--color-10);
    --_vertical-to-color: var(--to-color-7);
    --_slant-from-color: var(--color-12);
    --_slant-to-color: var(--to-color-7);
  }
}

.gradient:is(.vertical) {
  background-image: linear-gradient(to top in oklch,
      var(--_vertical-from-color) 0%,
      var(--_vertical-to-color) 100%);
}

.gradient:is(.slant, .slant-flip) {
  background-image: linear-gradient(var(--_slant-angle, -45deg) in oklch,
      var(--_slant-from-color) 0%,
      var(--_slant-to-color) 100%);
}

.gradient:is(.slant-flip) {
  --_slant-angle: 135deg;
}