:not(.hamburger-closed) .hamburger-line1,
:not(.hamburger-closed) .hamburger-line2,
:not(.hamburger-closed) .hamburger-line3 {
  transform: rotate(0deg) translate(0, 0);
  transition-property: transform;
  transition-duration: var(--standard-decelerate-duration);
  transition-timing-function: var(--standard-decelerate-easing);
}

.hamburger-closed .hamburger-line1,
.hamburger-closed .hamburger-line2,
.hamburger-closed .hamburger-line3 {
  transition-duration: var(--standard-accelerate-duration);
  transition-timing-function: var(--standard-accelerate-easing);
}

.hamburger-closed .hamburger-line1 {
  transform: rotate(-45deg) translate(-13px, 10px);
}

.hamburger-closed .hamburger-line2 {
  transform: rotate(-45deg) translate(-13px, 0px);
}

.hamburger-closed .hamburger-line3 {
  transform: rotate(45deg) translate(5px, -11px);
}