@media (max-width: 1200px) {
  .max-xl\:article-rows {
    grid-template-rows: [aside-start] auto [header-start] auto [header-end] max-content [aside-end];
  }

  .max-xl\:article-rows-aside {
    grid-row: aside;
  }
}

.grad {
  background-image: linear-gradient(to right, #202124 0, transparent 100px), linear-gradient(to left, #202124 0, transparent 100px), linear-gradient(var(--m3c5) 0, #202124 80px)
}