@media (prefers-color-scheme: dark) {
  :where(.surface) {
    --current-bg-color: var(--bg-dark);
    --current-text-color: var(--text-dark);
    --current-text-color-dim: var(--text-dim-dark);
    --current-bg-one-color: var(--bg-one-dark);
    --current-bg-two-color: var(--bg-two-dark);
    --current-border-color: var(--border-dark);
  }

  :where(.surface-container) {
    --current-border-color: var(--border-dark);
    --current-bg-color: var(--bg-dark);
  }

  :where(.surface-container2) {
    --current-bg-color: var(--bg-dark);
    --current-bg-darker-color: var(--bg-darker-dark);
  }

  /* .secondary-container */
  :where(.secondary-container) {
    --current-bg-color: var(--bg-dark);
    --current-text-color: var(--text-dark);
    --current-border-color: var(--border-dark);
  }

  /* .hover:secondary-container */

  :where(.hover\:secondary-container) {
    --current-text-color: var(--text-dark);
    --border-spread: var(--border-spread-dark);
    --border-sharp: var(--border-sharp-dark);
  }
  
  :where(.hover\:secondary-container.active) {
    --current-bg-color: var(--bg-dark);
  }
  
  @media (hover: hover) {
    :where(.hover\:secondary-container:hover) {
      --current-bg-color: var(--bg-dark);
    }
  }

  /* shared focus visible container state */

  :where(
    .secondary-container:focus-visible,
    .hover\:secondary-container:focus-visible
  ) {
    --current-bg-color: var(--focus-visible-container-dark);
    --current-text-color: var(--on-focus-visible-container-color-dark);
  }
}

[color-scheme="dark"] {
  :where(.surface) {
    --current-bg-color: var(--bg-dark);
    --current-text-color: var(--text-dark);
    --current-text-color-dim: var(--text-dim-dark);
    --current-bg-one-color: var(--bg-one-dark);
    --current-bg-two-color: var(--bg-two-dark);
    --current-border-color: var(--border-dark);
  }

  :where(.surface-container) {
    --current-border-color: var(--border-dark);
    --current-bg-color: var(--bg-dark);
  }

  :where(.surface-container2) {
    --current-bg-color: var(--bg-dark);
    --current-bg-darker-color: var(--bg-darker-dark);
  }

  /* .secondary-container */

  :where(.secondary-container) {
    --current-bg-color: var(--bg-dark);
    --current-text-color: var(--text-dark);
    --current-border-color: var(--border-dark);
  }

  /* .hover:secondary-container */

  :where(.hover\:secondary-container) {
    --current-text-color: var(--text-dark);
    --border-spread: var(--border-spread-dark);
    --border-sharp: var(--border-sharp-dark);
  }
  
  :where(.hover\:secondary-container.active) {
    --current-bg-color: var(--bg-dark);
    --current-border-color: var(--color-6);
  }
  
  @media (hover: hover) {
    :where(.hover\:secondary-container:hover) {
      --current-bg-color: var(--bg-dark);
    }
  }

  :where(
    .secondary-container:focus-visible,
    .hover\:secondary-container:focus-visible
  ) {
    --current-bg-color: var(--focus-visible-container-dark);
    --current-text-color: var(--on-focus-visible-container-color-dark);
  }
}