:where(.surface) {
  --bg-light: var(--gray-0);
  --bg-dark: var(--gray-14);
  --text-light: var(--gray-12);
  --text-dark: var(--gray-0);
  --text-dim-light: var(--gray-10);
  --text-dim-dark: var(--gray-2);

  --current-bg-color: var(--bg-light);
  --current-parent-bg-color: var(--current-bg-color);
  --current-text-color: var(--text-light);
  --current-text-color-dim: var(--text-dim-light);
}

:where(.surface-container) {
  --bg-light: var(--gray-0);
  --bg-dark: var(--gray-15);
  --border-light: var(--gray-2);
  --border-dark: var(--gray-14);

  --current-parent-bg-color: var(--current-bg-color);
  --current-bg-color: var(--bg-light);
  --current-border-color: var(--border-light);
}

:where(.surface-frost-container) {
  --gray-alpha: 0.6;
  --bg-light: var(--gray-1);
  --bg-dark: var(--gray-14);

  --current-bg-color: var(--bg-light);
  --current-parent-bg-color: var(--current-bg-color);
  backdrop-filter: blur(10px);
}

/* .secondary-container */

:where(.secondary-container) {
  --text-light: var(--color-9);
  --text-dark: var(--color-6);
  --bg-light: var(--color-2);
  --bg-dark: var(--color-14);
  --bg-hover-light: var(--color-1);
  --bg-hover-dark: var(--color-14);

  --current-bg-color: transparent;
  --current-text-color: var(--text-light);

  --current-bg-color: var(--bg-light);
  --current-border-color: var(--bg-light);
}

@media (hover: hover) {
  :where(.secondary-container:hover) {
    --current-bg-color: var(--secondary-container-high-light);
    --current-text-color: var(--on-secondary-container-high-light);
  }
}

:where(.secondary-container.active) {
  --current-bg-color: var(--secondary-container-low-light);
  --current-text-color: var(--on-secondary-container-low-light);
}

/* .hover:secondary-container */

:where(.hover\:secondary-container) {
  --text-light: var(--color-10);
  --text-dark: var(--color-4);

  --current-bg-color: transparent;
  --current-text-color: var(--text-light);
}

:where(.hover\:secondary-container.active) {
  --text-dark: var(--color-2);
  --bg-light: var(--color-1);
  --bg-dark: var(--gray-12);

  --current-bg-color: var(--bg-light);
  --current-border-color: var(--current-text-color);
}

@media (hover: hover) {
  :where(.hover\:secondary-container:hover) {
    --text-dark: var(--color-2);
    --bg-light: var(--color-1);
    --bg-dark: var(--gray-12);

    --current-bg-color: var(--bg-light);
  }
}

/* shared focus visible container state */

:where(
    .secondary-container:focus-visible,
    .hover\:secondary-container:focus-visible
  ) {
  --current-bg-color: var(--focus-visible-container-light);
  --current-text-color: var(--on-focus-visible-container-color-light);
}

[color-scheme="light"] {
  :where(.surface) {
    --current-bg-color: var(--bg-light);
    --current-text-color: var(--text-light);
    --current-text-color-dim: var(--text-dim-light);
    --current-bg-one-color: var(--bg-one-light);
    --current-bg-two-color: var(--bg-two-light);
  }

  :where(.surface-container) {
    --current-border-color: var(--border-light);
  }

  :where(.surface-container, .surface-frost-container) {
    --current-bg-color: var(--bg-light);
  }

  /* .secondary-container */

  :where(.secondary-container) {
    --current-bg-color: var(--secondary-container-light);
    --current-text-color: var(--on-secondary-container-light);
    --current-border-color: var(--secondary-container-outline-light);
  }
  
  @media (hover: hover) {
    :where(.secondary-container:hover) {
      --current-bg-color: var(--secondary-container-high-light);
      --current-text-color: var(--on-secondary-container-high-light);
    }
  }
  
  :where(.secondary-container.active) {
    --current-bg-color: var(--secondary-container-low-light);
  --current-text-color: var(--on-secondary-container-low-light);
  }

  /* .hover:secondary-container */

  :where(.hover\:secondary-container) {
    --current-text-color: var(--text-light);
  }
  
  :where(.hover\:secondary-container.active) {
    --current-bg-color: var(--bg-light);
  }
  
  @media (hover: hover) {
    :where(.hover\:secondary-container:hover) {
      --current-bg-color: var(--bg-light);
    }
  }

  /* shared focus visible container state */

  :where(
    .secondary-container:focus-visible,
    .hover\:secondary-container:focus-visible
  ) {
    --current-bg-color: var(--focus-visible-container-light);
    --current-text-color: var(--on-focus-visible-container-color-light);
  }
}