:where(.link, .link:visited) {
  --link-text-color: var(--secondary-color);
}

:where(.link) {
  --link-bg-color: var(--current-bg-color);
  --link-text-color: var(--current-text-color);
  --link-padding: 0 var(--space-xs);
  --link-border-radius: var(--border-radius-m);
  --link-border-width: 0.1em;
  --link-shadow-width: 0.2em;
  --link-transition-duration: var(--standard-decelerate-duration);
  --link-transition-easing: var(--standard-decelerate-easing);
  --link-transition-properties: color, background-color, box-shadow;

  text-decoration: none;
  background-color: var(--link-bg-color);
  color: var(--link-text-color);
  border-radius: var(--link-border-radius);
  display: inline-block;
  padding: var(--link-padding);
  transition-property: var(--link-transition-properties);
  transition-duration: var(--link-transition-duration);
  transition-timing-function: var(--link-transition-easing);
}

:where(.link):not(.logo) {
  box-shadow: var(--border-spread) 0px 0px 1px 0px,var(--border-sharp) 0px 0px 0px 1px;
}

:where(.link.active) {
  --link-transition-duration: var(--standard-accelerate-duration);
  --link-transition-easing: var(--standard-accelerate-easing);
}
@media (hover: hover) {
  :where(.link:hover) {
    --link-transition-duration: var(--standard-accelerate-duration);
    --link-transition-easing: var(--standard-accelerate-easing);
  }

  :where(.link.logo:hover) {
    --link-bg-color: transparent;
    --link-border: 0 0 0 var(--link-border-width) var(--current-text-color);
  }
}

:where(.focus-visible):is(:focus-visible) {
  outline: 1px solid transparent;
  outline-offset: var(--link-border-width);
  box-shadow: 0 0 0 0.1em var(--current-parent-bg-color),
    0 0 0 0.2em var(--current-bg-color);
}