:where(.link, .link:visited) {
  --link-text-color: var(--md-sys-color-secondary);
}

:where(.link) {
  --link-bg-color: transparent;
  --link-padding: 0 var(--space-3xs);
  --link-border-color: var(--link-text-color);
  --link-border-radius: var(--border-radius-xs);
  --link-border-width: 0.1em;
  --link-shadow-width: 0.2em;
  --link-transition-duration: var(--standard-decelerate-duration);
  --link-transition-easing: var(--standard-decelerate-easing);
  --link-transition-properties: color, background-color, box-shadow;

  text-decoration: none;
  background-color: var(--link-bg-color);
  color: var(--link-text-color);
  border-radius: var(--link-border-radius);
  display: inline-block;
  padding: var(--link-padding);
  transition: var(--link-transition-properties) var(--link-transition-duration)
    var(--link-transition-easing);
}

:where(.link.active, .link:focus-visible) {
  --link-bg-color: var(--md-sys-color-secondary-container);
  --link-text-color: var(--md-sys-color-on-secondary-container);
  --link-border-color: var(--link-text-color);
  --link-transition-duration: var(--standard-accelerate-duration);
  --link-transition-easing: var(--standard-accelerate-easing);

  outline: 1px solid transparent;
  outline-offset: var(--link-border-width);
  box-shadow: var(--link-border);
}

:where(.link.active) {
  --link-border-width: 1px;
  --link-border: 0 0 0 var(--link-border-width) var(--link-border-color);
}

:where(.link:focus-visible) {
  --link-border: 0 0 0 var(--link-border-width) var(--bg-color),
  0 0 0 var(--link-shadow-width) var(--link-border-color);
}

@media (hover: hover) {
  :where(.link):hover {
    --link-bg-color: var(--md-sys-color-secondary-container);
    --link-text-color: var(--md-sys-color-on-secondary-container);
    --link-transition-duration: var(--standard-accelerate-duration);
    --link-transition-easing: var(--standard-accelerate-easing);
  }
}

.link:is(.aux) {
  --link-border-width: 1px;
  --link-shadow-width: 2px;
  --link-padding: var(--space-2xs) var(--space-xs);
  --link-border-radius: var(--border-radius-m);
}

.link:is(.aux, .aux:visited) {
  --link-text-color: var(--md-sys-color-on-surface-variant);
}

.link:is(.aux.active, .aux:focus-visible) {
  --link-bg-color: var(--md-sys-color-surface-container-high);
  --link-text-color: var(--md-sys-color-on-surface);
  --link-border-color: var(--md-sys-color-outline-variant);
}

@media (hover: hover) {
  .link:is(.aux:hover) {
    --link-bg-color: var(--md-sys-color-surface-container-high);
    --link-text-color: var(--md-sys-color-on-surface);
    --link-border-color: var(--md-sys-color-outline-variant);
  }
}
