.app-bar {
  --shadow-value: var(--shadow-2);

  background-color: var(--current-bg-color);
  color: var(--current-text-color);
  box-shadow: var(--shadow-value);
  transition: box-shadow 0.2s ease;
  transition-property: box-shadow color;
  transition-duration: var(--standard-duration);
  transition-timing-function: var(--standard-easing);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

html[data-scroll="0"] .app-bar {
  --shadow-value: var(--shadow-0);
}

.app-bar__height {
  height: var(--app-bar-height);
}

.logo {
  font-size: var(--size-1);
  text-transform: lowercase;
  word-spacing: -0.3em;
  letter-spacing: -0.05em;
}

.logo__fname,
.logo__lname {
  color: var(--current-text-color);
}

.logo__fname {
  font-weight: 800;
}

.logo__lname {
  font-weight: 300;
}

.theme-options {
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--current-bg-color);
  padding: var(--space-m);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-1);
}

.theme-options__scheme {
  display: flex;
}

.theme-options__hues {
  width: 23em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.theme-options :where(.red, .pink, .purple, .violet, .indigo, .blue, .cyan, .teal, .green, .lime, .yellow, .orange) {
  --bg-color: var(--color-3);

  background-color: var(--bg-color);
  color: var(--bg-color);
  width: 3em;
  flex-basis: 3em;
  height: 3em;
  flex-grow: 0;
  border: none;
  border-radius: var(--border-radius-full);
  cursor: pointer;
}

@media (hover: hover) {
  .theme-options :where(.red, .pink, .purple, .violet, .indigo, .blue, .cyan, .teal, .green, .lime, .yellow, .orange):hover {
    --bg-color: var(--color-5);
  }
}

.theme-options :where(.red, .pink, .purple, .violet, .indigo, .blue, .cyan, .teal, .green, .lime, .yellow, .orange):is(:disabled) {
  --bg-color: var(--color-7);
  cursor: default;

  .material-symbols-outlined {
    color: #fff;
  }  
}
.theme-options :where(.red) {
  --color-hue: var(--hue-red);
}
.theme-options :where(.pink) {
  --color-hue: var(--hue-pink);
}
.theme-options :where(.purple) {
  --color-hue: var(--hue-purple);
}
.theme-options :where(.violet) {
  --color-hue: var(--hue-violet);
}
.theme-options :where(.indigo) {
  --color-hue: var(--hue-indigo);
}
.theme-options :where(.blue) {
  --color-hue: var(--hue-blue);
}
.theme-options :where(.cyan) {
  --color-hue: var(--hue-cyan);
}
.theme-options :where(.teal) {
  --color-hue: var(--hue-teal);
}
.theme-options :where(.green) {
  --color-hue: var(--hue-green);
}
.theme-options :where(.lime) {
  --color-hue: var(--hue-lime);
}
.theme-options :where(.yellow) {
  --color-hue: var(--hue-yellow);
}
.theme-options :where(.orange) {
  --color-hue: var(--hue-orange);
}
