.app-bar {
  --shadow-value: var(--shadow-2);

  background-color: var(--current-bg-color);
  color: var(--current-text-color);
  box-shadow: var(--shadow-value);
  transition: box-shadow 0.2s ease;
  transition-property: box-shadow color;
  transition-duration: var(--standard-duration);
  transition-timing-function: var(--standard-easing);
}

html[data-scroll="0"] .app-bar {
  --shadow-value: var(--shadow-0);
}

.app-bar__height {
  height: var(--app-bar-height);
}

.logo {}

.name {
  font-size: var(--size-1);
  text-transform: lowercase;
  word-spacing: -0.3em;
  letter-spacing: -0.05em;
}

.name__fname,
.name__lname {
  color: var(--current-text-color);
}

.name__fname {
  font-weight: 800;
}

.name__lname {
  font-weight: 300;
}

.spinner {
  width: 19.2px;
  height: 19.2px;
  transform-style: preserve-3d;
  /* transform: rotate(45deg) rotateX(-25deg) rotateY(25deg); */
  animation: name-spinner 3s infinite ease;
}

.spinner > div {
  --spinner-bg-alpha: 0.1;

  background-color: var(--current-parent-bg-color);
  background-color: color(from var(--current-text-color) srgb r g b / var(--spinner-bg-alpha));
  height: 100%;
  position: absolute;
  width: 100%;
  border: 1px solid var(--current-text-color);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-9.6px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(9.6px);
}

@keyframes name-spinner {
  0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

@media (prefers-color-scheme: dark) {
  .spinner > div {
    --spinner-bg-alpha: 0.25;
  }
}

[color-scheme="light"] {
  .spinner > div {
    --spinner-bg-alpha: 0.1;
  }
}

[color-scheme="dark"] {
  .spinner > div {
    --spinner-bg-alpha: 0.25;
  }
}

.theming {
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--current-bg-color);
  padding: var(--space-m);
  border-radius: var(--border-radius-l);
  box-shadow: var(--shadow-2);
}

.theming__label {
  display: block;
  margin-bottom: var(--space-xs);
}

.theming__scheme {
  display: flex;
  margin-bottom: var(--space-l);
  padding-bottom: var(--space-l);
  border-bottom: 1px dotted var(--current-border-color);
}

.theming__hues {
  width: 23em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.theming__hues button {
  --current-bg-color: var(--color-6);
  --text-color: var(--color-6);

  background-color: var(--current-bg-color);
  color: var(--text-color);
  width: 3em;
  flex-basis: 3em;
  height: 3em;
  flex-grow: 0;
  border: none;
  border-radius: var(--border-radius-full);
  cursor: pointer;
}

@media (hover: hover) {
  .theming__hues button:hover {
    --text-color: var(--color-4);
  }
}

.theming__hues button:focus-visible {
  --text-color: var(--color-4);
}

.theming__hues button:disabled {
  --current-bg-color: var(--color-8);
  cursor: default;

  .material-symbols-outlined {
    color: #fff;
  }  
}
.theming__hues .red {
  --color-hue: var(--hue-red);
}
.theming__hues .pink {
  --color-hue: var(--hue-pink);
}
.theming__hues .purple {
  --color-hue: var(--hue-purple);
}
.theming__hues .violet {
  --color-hue: var(--hue-violet);
}
.theming__hues .indigo {
  --color-hue: var(--hue-indigo);
}
.theming__hues .blue {
  --color-hue: var(--hue-blue);
}
.theming__hues .cyan {
  --color-hue: var(--hue-cyan);
}
.theming__hues .teal {
  --color-hue: var(--hue-teal);
}
.theming__hues .green {
  --color-hue: var(--hue-green);
}
.theming__hues .lime {
  --color-hue: var(--hue-lime);
}
.theming__hues .yellow {
  --color-hue: var(--hue-yellow);
}
.theming__hues .orange {
  --color-hue: var(--hue-orange);
}
