.text-display {
  font-size: var(--display-size);
  font-weight: var(--display-weight);
  letter-spacing: var(--display-letter-spacing);
  line-height: var(--display-line-height);
  color: var(--text-emphasis-color);
  text-wrap: balance;
}

.text-display-desc {
  font-size: var(--display-desc-size);
  font-weight: var(--display-desc-weight);
  letter-spacing: var(--display-desc-letter-spacing);
  line-height: var(--display-desc-line-height);
  color: var(--text-secondary-color);
  text-wrap: balance;
}

.text-heading {
  font-size: var(--heading-size);
  font-weight: var(--heading-weight);
  line-height: var(--heading-line-height);
  color: var(--text-emphasis-color);
  text-wrap: balance;
}

.text-heading-desc {
  font-size: var(--heading-desc-size);
  font-weight: var(--heading-desc-weight);
  line-height: var(--heading-desc-line-height);
  color: var(--text-secondary-color);
  text-wrap: balance;
}

.text-title {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
}

.text-title3 {
  font-size: var(--title-size-3);
  font-weight: var(--title-weight-3);
}

.text-title4 {
  font-size: var(--title-size-4);
  font-weight: var(--title-weight-4);
  line-height: var(--title-4-line-height);
}

.text-body {
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
}

.text-label {
  font-size: var(--label-size);
  font-weight: var(--label-weight);
}

.body-line-height {
  line-height: var(--body-line-height);
}

.words-together {
  word-spacing: -1em;
}

.height-tight {
  line-height: var(--line-height-tight);
}
.height-normal {
  line-height: var(--line-height-normal);
}

.balanced {
  text-wrap: balance;
}