:where(*) {
  --gray-0: oklch(
    99% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );
  --gray-1: oklch(
    95% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );
  --gray-2: oklch(
    88% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );
  --gray-3: oklch(
    80% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );
  --gray-4: oklch(
    74% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );
  --gray-5: oklch(
    68% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );
  --gray-6: oklch(
    63% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );
  --gray-7: oklch(
    58% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );
  --gray-8: oklch(
    53% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );
  --gray-9: oklch(
    49% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );
  --gray-10: oklch(
    43% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );
  --gray-11: oklch(
    37% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );
  --gray-12: oklch(
    31% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );
  --gray-13: oklch(
    25% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );
  --gray-14: oklch(
    18% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );
  --gray-15: oklch(
    10% var(--gray-chroma, 0) var(--gray-hue, 0) / var(--gray-alpha, 1)
  );

  --color-0: oklch(99% 0.03 var(--color-hue, 0));
  --color-1: oklch(95% 0.06 var(--color-hue, 0));
  --color-2: oklch(88% 0.12 var(--color-hue, 0));
  --color-3: oklch(80% 0.14 var(--color-hue, 0));
  --color-4: oklch(74% 0.16 var(--color-hue, 0));
  --color-5: oklch(68% 0.19 var(--color-hue, 0));
  --color-6: oklch(63% 0.2 var(--color-hue, 0));
  --color-7: oklch(58% 0.21 var(--color-hue, 0));
  --color-8: oklch(53% 0.2 var(--color-hue, 0));
  --color-9: oklch(49% 0.19 var(--color-hue, 0));
  --color-10: oklch(42% 0.17 var(--color-hue, 0));
  --color-11: oklch(35% 0.15 var(--color-hue, 0));
  --color-12: oklch(27% 0.12 var(--color-hue, 0));
  --color-13: oklch(20% 0.09 var(--color-hue, 0));
  --color-14: oklch(14% 0.07 var(--color-hue, 0));
  --color-15: oklch(11% 0.05 var(--color-hue, 0));
  --color-bright: oklch(65% 0.3 var(--color-hue, 0));

  --to-color-0: oklch(99% 0.03 var(--to-color-hue, 0));
  --to-color-1: oklch(95% 0.06 var(--to-color-hue, 0));
  --to-color-2: oklch(88% 0.12 var(--to-color-hue, 0));
  --to-color-3: oklch(80% 0.14 var(--to-color-hue, 0));
  --to-color-4: oklch(74% 0.16 var(--to-color-hue, 0));
  --to-color-5: oklch(68% 0.19 var(--to-color-hue, 0));
  --to-color-6: oklch(63% 0.2 var(--to-color-hue, 0));
  --to-color-7: oklch(58% 0.21 var(--to-color-hue, 0));
  --to-color-8: oklch(53% 0.2 var(--to-color-hue, 0));
  --to-color-9: oklch(49% 0.19 var(--to-color-hue, 0));
  --to-color-10: oklch(42% 0.17 var(--to-color-hue, 0));
  --to-color-11: oklch(35% 0.15 var(--to-color-hue, 0));
  --to-color-12: oklch(27% 0.12 var(--to-color-hue, 0));
  --to-color-13: oklch(20% 0.09 var(--to-color-hue, 0));
  --to-color-14: oklch(14% 0.07 var(--to-color-hue, 0));
  --to-color-15: oklch(11% 0.05 var(--to-color-hue, 0));
  --to-color-bright: oklch(65% 0.3 var(--to-color-hue, 0));
}

:where(html) {
  --hue-red: 25;
  --hue-pink: 350;
  --hue-purple: 310;
  --hue-violet: 290;
  --hue-indigo: 270;
  --hue-blue: 240;
  --hue-cyan: 210;
  --hue-teal: 185;
  --hue-green: 145;
  --hue-lime: 125;
  --hue-yellow: 100;
  --hue-orange: 75;
}
