html {
  --gray-hue: var(--hue-green);
  --gray-chroma: 0.01;

  --surface-light: var(--gray-0);
  --on-surface-light: var(--gray-15);
  --on-surface-dim-light: var(--gray-8);
  --surface-container-light: var(--gray-1);
  --surface-dark: var(--gray-15);
  --on-surface-dark: var(--gray-0);
  --on-surface-dim-dark: var(--gray-5);
  --surface-container-dark: var(--gray-14);
}

:where(.surface) {
  --current-bg-color: var(--surface-light);
  --current-parent-bg-color: var(--current-bg-color);
  --current-text-color: var(--on-surface-light);
  --current-text-color-dim: var(--on-surface-dim-light);
}

:where(.surface-container) {
  --current-bg-color: var(--surface-container-light);
  --current-parent-bg-color: var(--current-bg-color);
  --current-text-color: var(--on-surface-light);
  --current-text-color-dim: var(--on-surface-dim-light);
}

/* .secondary-container */

:where(.secondary-container) {
  --current-bg-color: var(--secondary-container-light);
  --current-text-color: var(--on-secondary-container-color-light);
}

:where(.secondary-container:focus-visible) {
  --current-bg-color: var(--secondary-container-high-light);
}

@media (hover: hover) {
  :where(.secondary-container:hover) {
    --current-bg-color: var(--secondary-container-high-light);
  }
}

/* .hover:secondary-container */

:where(.hover\:secondary-container) {
  --current-bg-color: transparent;
  --current-text-color: var(--secondary-color-light);
}

:where(.hover\:secondary-container:focus-visible, .hover\:secondary-container.active) {
  --current-bg-color: var(--hover-secondary-container-light);
  --current-text-color: var(--on-hover-secondary-container-color-light);
}

@media (hover: hover) {
  :where(.hover\:secondary-container:hover) {
    --current-bg-color: var(--hover-secondary-container-light);
    --current-text-color: var(--on-hover-secondary-container-color-light);
  }
}

@media (prefers-color-scheme: dark) {
  :where(.surface) {
    --current-bg-color: var(--surface-dark);
    --current-text-color: var(--on-surface-dark);
    --current-text-color-dim: var(--on-surface-dim-dark);
  }

  :where(.surface-container) {
    --current-bg-color: var(--surface-container-dark);
    --current-text-color: var(--on-surface-dark);
    --current-text-color-dim: var(--on-surface-dim-dark);
  }

  /* .secondary-container */

  :where(.secondary-container) {
    --current-bg-color: var(--secondary-container-dark);
    --current-text-color: var(--on-secondary-container-color-dark);
  }

  :where(.secondary-container:focus-visible) {
    --current-bg-color: var(--secondary-container-high-dark);
  }

  @media (hover: hover) {
    :where(.secondary-container:hover) {
      --current-bg-color: var(--secondary-container-high-dark);
    }
  }

  /* .hover:secondary-container */

  :where(.hover\:secondary-container) {
    --current-bg-color: transparent;
    --current-text-color: var(--secondary-color-dark);
  }
  
  :where(.hover\:secondary-container:focus-visible, .hover\:secondary-container.active) {
    --current-bg-color: var(--hover-secondary-container-dark);
    --current-text-color: var(--on-hover-secondary-container-color-dark);
  }
  
  @media (hover: hover) {
    :where(.hover\:secondary-container:hover) {
      --current-bg-color: var(--hover-secondary-container-dark);
      --current-text-color: var(--on-hover-secondary-container-color-dark);
    }
  }
}

[color-scheme="light"] {
  :where(.surface) {
    --current-bg-color: var(--surface-light);
    --current-text-color: var(--on-surface-light);
    --current-text-color-dim: var(--on-surface-dim-light);
  }

  :where(.surface-container) {
    --current-bg-color: var(--surface-container-light);
    --current-text-color: var(--on-surface-light);
    --current-text-color-dim: var(--on-surface-dim-light);
  }

  /* .secondary-container */

  :where(.secondary-container) {
    --current-bg-color: var(--secondary-container-light);
    --current-text-color: var(--on-secondary-container-color-light);
  }

  :where(.secondary-container:focus-visible) {
    --current-bg-color: var(--secondary-container-high-light);
  }

  @media (hover: hover) {
    :where(.secondary-container:hover) {
      --current-bg-color: var(--secondary-container-high-light);
    }
  }

  /* .hover:secondary-container */

  :where(.hover\:secondary-container) {
    --current-bg-color: transparent;
    --current-text-color: var(--secondary-color-light);
  }
  
  :where(.hover\:secondary-container:focus-visible, .hover\:secondary-container.active) {
    --current-bg-color: var(--hover-secondary-container-light);
    --current-text-color: var(--on-hover-secondary-container-color-light);
  }
  
  @media (hover: hover) {
    :where(.hover\:secondary-container:hover) {
      --current-bg-color: var(--hover-secondary-container-light);
      --current-text-color: var(--on-hover-secondary-container-color-light);
    }
  }
}

[color-scheme="dark"] {
  :where(.surface) {
    --current-bg-color: var(--surface-dark);
    --current-text-color: var(--on-surface-dark);
    --current-text-color-dim: var(--on-surface-dim-dark);
  }

  :where(.surface-container) {
    --current-bg-color: var(--surface-container-dark);
    --current-text-color: var(--on-surface-dark);
    --current-text-color-dim: var(--on-surface-dim-dark);
  }

  /* .secondary-container */

  :where(.secondary-container) {
    --current-bg-color: var(--secondary-container-dark);
    --current-text-color: var(--on-secondary-container-color-dark);
  }

  :where(.secondary-container:focus-visible) {
    --current-bg-color: var(--secondary-container-high-dark);
  }

  @media (hover: hover) {
    :where(.secondary-container:hover) {
      --current-bg-color: var(--secondary-container-high-dark);
    }
  }

  /* .hover:secondary-container */

  :where(.hover\:secondary-container) {
    --current-bg-color: transparent;
    --current-text-color: var(--secondary-color-dark);
  }
  
  :where(.hover\:secondary-container:focus-visible, .hover\:secondary-container.active) {
    --current-bg-color: var(--hover-secondary-container-light);
    --current-text-color: var(--on-hover-secondary-container-color-light);
  }
  
  @media (hover: hover) {
    :where(.hover\:secondary-container:hover) {
      --current-bg-color: var(--hover-secondary-container-light);
      --current-text-color: var(--on-hover-secondary-container-color-light);
    }
  }
}