:where(*) {
  --primary-color-light: var(--color-10);
  --secondary-color-light: var(--color-9);
  --accent-color-light: var(--color-8);

  --primary-color-dark: var(--color-5);
  --secondary-color-dark: var(--color-6);
  --accent-color-dark: var(--color-6);


  /* secondary container */

  --secondary-container-light: var(--gray-2);
  --on-secondary-container-light: var(--color-10);

  --secondary-container-high-light: var(--color-3);
  --on-secondary-container-high-light: var(--color-10);

    --secondary-container-dark: var(--gray-12);
    --on-secondary-container-dark: var(--color-4);

    --secondary-container-high-dark: var(--color-2);
    --on-secondary-container-high-dark: var(--color-10);

    /* hover secondary container */

    --hover-secondary-container-light: var(--gray-2);
    --on-hover-secondary-container-light: var(--secondary-color-light);
    --hover-secondary-container-dark: var(--gray-13);
    --on-hover-secondary-container-dark: var(--secondary-color-dark);

  /* shared focus visible state for containers */
  --focus-visible-container-light: var(--color-5);
  --on-focus-visible-container-color-light: var(--color-13);
  --focus-visible-container-dark: var(--color-10);
  --on-focus-visible-container-color-dark: var(--color-2);
}

:root {
  color-scheme: light;
  --gray-hue: var(--hue-green);
  --gray-chroma: 0.01;
}

:where(.primary-color, .secondary-color) {
  --color-hue: var(--hue-green);
}
:where(.accent-color) {
  --color-hue: calc(var(--hue-green) + 180);
}

:where(.primary-color) {
  --current-text-color: var(--primary-color-light);
}
:where(.secondary-color) {
  --current-text-color: var(--secondary-color-light);
}
:where(.accent-color) {
  --current-text-color: var(--accent-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  :where(.primary-color) {
    --current-text-color: var(--primary-color-dark);
  }
  :where(.secondary-color) {
    --current-text-color: var(--secondary-color-dark);
  }
  :where(.accent-color) {
    --current-text-color: var(--accent-color-dark);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  :where(.primary-color) {
    --current-text-color: var(--primary-color-light);
  }
  :where(.secondary-color) {
    --current-text-color: var(--secondary-color-light);
  }
  :where(.accent-color) {
    --current-text-color: var(--accent-color-light);
  }
}

[color-scheme="dark"] {
  color-scheme: dark;

  :where(.primary-color) {
    --current-text-color: var(--primary-color-dark);
  }
  :where(.secondary-color) {
    --current-text-color: var(--secondary-color-dark);
  }
  :where(.accent-color) {
    --current-text-color: var(--accent-color-dark);
  }
}

[color-hue="none"] {
  --gray-hue: "none";
  :is(.primary-color, .secondary-color, .secondary-container, .hover\:secondary-container) {
    --color-hue: var(--hue-green);
  }
  :is(.accent-color) {
    --color-hue: calc(var(--hue-green) + 180);
  }
}

[color-hue="red"] {
  --gray-hue: var(--hue-red);
  :is(.primary-color, .secondary-color, .secondary-container, .hover\:secondary-container) {
    --color-hue: var(--hue-red);
  }
  :is(.accent-color) {
    --color-hue: calc(var(--hue-red) + 180);
  }
}

[color-hue="pink"] {
  --gray-hue: var(--hue-pink);
  :is(.primary-color, .secondary-color, .secondary-container, .hover\:secondary-container) {
    --color-hue: var(--hue-pink);
  }
  :is(.accent-color) {
    --color-hue: calc(var(--hue-pink) + 180);
  }
}

[color-hue="purple"] {
  --gray-hue: var(--hue-purple);
  :is(.primary-color, .secondary-color, .secondary-container, .hover\:secondary-container) {
    --color-hue: var(--hue-purple);
  }
  :is(.accent-color) {
    --color-hue: calc(var(--hue-purple) + 180);
  }
}

[color-hue="violet"] {
  --gray-hue: var(--hue-violet);
  :is(.primary-color, .secondary-color, .secondary-container, .hover\:secondary-container) {
    --color-hue: var(--hue-violet);
  }
  :is(.accent-color) {
    --color-hue: calc(var(--hue-violet) + 180);
  }
}

[color-hue="indigo"] {
  --gray-hue: var(--hue-indigo);
  :is(.primary-color, .secondary-color, .secondary-container, .hover\:secondary-container) {
    --color-hue: var(--hue-indigo);
  }
  :is(.accent-color) {
    --color-hue: calc(var(--hue-indigo) + 180);
  }
}

[color-hue="blue"] {
  --gray-hue: var(--hue-blue);
  :is(.primary-color, .secondary-color, .secondary-container, .hover\:secondary-container) {
    --color-hue: var(--hue-blue);
  }
  :is(.accent-color) {
    --color-hue: calc(var(--hue-blue) + 180);
  }
}

[color-hue="cyan"] {
  --gray-hue: var(--hue-cyan);
  :is(.primary-color, .secondary-color, .secondary-container, .hover\:secondary-container) {
    --color-hue: var(--hue-cyan);
  }
  :is(.accent-color) {
    --color-hue: calc(var(--hue-cyan) + 180);
  }
}

[color-hue="teal"] {
  --gray-hue: var(--hue-teal);
  :is(.primary-color, .secondary-color, .secondary-container, .hover\:secondary-container) {
    --color-hue: var(--hue-teal);
  }
  :is(.accent-color) {
    --color-hue: calc(var(--hue-teal) + 180);
  }
}

[color-hue="green"] {
  --gray-hue: var(--hue-green);
  :is(.primary-color, .secondary-color, .secondary-container, .hover\:secondary-container) {
    --color-hue: var(--hue-green);
  }
  :is(.accent-color) {
    --color-hue: calc(var(--hue-green) + 180);
  }
}

[color-hue="lime"] {
  --gray-hue: var(--hue-lime);
  :is(.primary-color, .secondary-color, .secondary-container, .hover\:secondary-container) {
    --color-hue: var(--hue-lime);
  }
  :is(.accent-color) {
    --color-hue: calc(var(--hue-lime) + 180);
  }
}

[color-hue="yellow"] {
  --gray-hue: var(--hue-yellow);
  :is(.primary-color, .secondary-color, .secondary-container, .hover\:secondary-container) {
    --color-hue: var(--hue-yellow);
  }
  :is(.accent-color) {
    --color-hue: calc(var(--hue-yellow) + 180);
  }
}

[color-hue="orange"] {
  --gray-hue: var(--hue-orange);
  :is(.primary-color, .secondary-color, .secondary-container, .hover\:secondary-container) {
    --color-hue: var(--hue-orange);
  }
  :is(.accent-color) {
    --color-hue: calc(var(--hue-orange) + 180);
  }
}
